<!DOCTYPE html>


<!--
#######################################
- THE HEAD PART -
######################################
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <title>
    Login
  </title>
  
<style type="text/css">
body { 
  /* padding added to support fixed navbar */
  padding-top: 70px;
}
</style>

  <!-- get jQuery from the google apis -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js">
  </script>

                <script src="https://login.persona.org/include.js" type="text/j\
avascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='styleshe\
et' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="David Anderton 2013">

<!-- Latest compiled and minified CSS -->
<link href="css/Newsgrid.min.css" rel="stylesheet">

  <!-- lets get ac working -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--    <script src="js/jquery.min.js"></script>                                
    <script src="js/bootstrap.min.js"></script>-->
    <!-- end jQuery-->

  
  <!-- CSS STYLE-->
  <link rel="stylesheet" type="text/css" href="slider-rs-plugin/examplecss/style.css" media="screen" />
  
  <!-- THE PREVIEW STYLE SHEETS, NO NEED TO LOAD IN YOUR DOM -->
  <link rel="stylesheet" type="text/css" href="slider-rs-plugin/examplecss/navstylechange.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="slider-rs-plugin/examplecss/noneed.css" media="screen" />
  
  <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
  <script type="text/javascript" src="slider-rs-plugin/js/jquery.themepunch.plugins.min.js">
  </script>
  <script type="text/javascript" src="slider-rs-plugin/js/jquery.themepunch.revolution.min.js">
  </script>
  
  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="slider-rs-plugin/css/settings.css" media="screen" />
  
  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>



    <!-- THE BASICSHOWBIZPRO  STYLE CLASSES -->
    <link rel="stylesheet" type="text/css" href="showbizpro/examplecss/style.css" media="screen" />





  <!-- THE SHOWBIZ STLYES -->
  <link rel="stylesheet" type="text/css" href="showbizpro/css/settings.css" media="screen" />

  <!-- THE FANYCYBOX ASSETS -->
  <link rel="stylesheet" href="showbizpro/fancybox/jquery.fancybox.css?v=2.1.3" type="text/css" media="screen" />
  <script type="text/javascript" src="showbizpro/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>



<!-- ga -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43112444-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>  
</head>



<!--
#######################################
- THE BODY PART -
######################################
-->
<body>
  
<div>
    <!-- Fixed panel Navigation here -->
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-ta\
rget=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><h1>&nbsp;NewsGrid&nbsp;</h1></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if(user){ %>
            <li><a href="/logout"><span class="glyphicon glyphicon-off"</span></a></\
li>
            <% }else{ %>

            <li><a href="/auth/twitter"><img height="80px" width="80px" src="https:/\
/abs.twimg.com/a/1379631158/images/resources/twitter-bird-white-on-blue.png"></a></l\
i>
            <li><a href="/auth/facebook"><img height="80px" width="80px" src="/img/FB-f-Logo__blue_512.png"></a></li>
            <li><a href="#"> <img height="80px" width="80px" src="http://people.mozilla.org/~smartell/persona/assets/persona-logo.png" id="browserid"/></a></li>
            <% }; %>
              </ul>
            </li>

</ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>  

  <!-- HEADER OLD
  <header id="header">
    <section class="container">
      <article class="logo-container" style="font-size:28px;">
        NewsGrid
      </article>
      <div style="clear:both">
      </div>
      
    </section>
    
  </header>
  
   END OF HEADER -->
  
  
  <article class="">
    
    <!--
#################################
- THEMEPUNCH BANNER -
#################################
-->
      <!-- START REVOLUTION SLIDER 3.1 rev5 fullwidth mode -->
      
      <div class="tp-banner-container">
      	   <div class="tp-banner" >
          <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
              <!-- MAIN IMAGE -->
              <img src="slider-rs-plugin/exampleimages/bg1.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              
              
              <!-- LAYERS -->
              <div class="tp-caption mediumlarge_light_white_center customin customout start"
              data-x="50"
              data-hoffset="0"
              data-y="50"
              
              data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="1000"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
                BASIC CAPTION
                <br>
                ANIMATIONS
              </div>
              
              
              
              
              
              <!-- LAYER NR. 1 -->
              <div class="tp-caption medium_bg_asbestos fade"
              data-x="50"
              data-y="250"
              data-speed="500"
              data-start="800"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                FADE
              </div>
              
              <!-- LAYER NR. 2 -->
              <div class="tp-caption medium_bg_asbestos sfl"
              data-x="50"
              data-y="300"
              data-speed="500"
              data-start="1200"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                SHORT FROM LEFT (sfl)
              </div>
              
              <!-- LAYER NR. 3 -->
              <div class="tp-caption medium_bg_asbestos skewfromleft"
              data-x="50"
              data-y="350"
              data-speed="800"
              data-start="1900"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                SKEW FROM LEFT (skewfromleft)
              </div>
              
              <!-- LAYER NR. 4 -->
              <div class="tp-caption medium_bg_asbestos sft"
              data-x="50"
              data-y="200"
              data-speed="800"
              data-start="2600"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                SHORT FROM TOP (sft)
              </div>
              
              <!-- LAYER NR. 5 -->
              <div class="tp-caption medium_bg_asbestos lft"
              data-x="50"
              
              data-y="400"
              data-speed="800"
              data-start="3300"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                LONG FROM TOP (lft)
              </div>
              
              <!-- LAYER NR. 6 -->
              <div class="tp-caption medium_bg_asbestos sfr"
              data-x="right"
              data-hoffset="-50"
              data-y="200"
              data-speed="800"
              data-start="4000"
              data-easing="Power4.easeOut"
              data-endspeed="300" 
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                SHORT FROM RIGHT (sfr)
              </div>
              
              
              
              <!-- LAYER NR. 7 -->
              <div class="tp-caption medium_bg_asbestos skewfromright"
              data-x="right"
              data-hoffset="-50"
              data-y="250"
              data-speed="800"
              data-start="4700"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                SKEW FROM RIGHT (skewfromright)
              </div>
              
              
              <!-- LAYER NR. 8 -->
              <div class="tp-caption medium_bg_asbestos sfb"
              data-x="right"
              data-hoffset="-50"
              data-y="300"
              data-speed="800"
              data-start="5400"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                SHORT FROM BOTTOM (sfb)
              </div>
              
              <!-- LAYER NR. 9 -->
              <div class="tp-caption medium_bg_asbestos lfb"
              data-x="right"
              data-hoffset="-50"
              data-y="350"
              data-speed="800"
              data-start="6100"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                LONG FROM BOTTOM (lfb)
              </div>
              
              <!-- LAYER NR. 10 -->
              <div class="tp-caption medium_bg_asbestos randomrotate"
              data-x="right"
              data-hoffset="-50"
              data-y="400"
              data-speed="800"
              data-start="6800"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                RANDOM ROTATE (randomrotate)
              </div>
              
              <!-- LAYER NR. 11 -->
              <div class="tp-caption medium_bg_asbestos lfr"
              data-x="right"
              data-hoffset="-50"
              data-y="450"
              data-speed="800"
              data-start="7500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                LONG FROM RIGHT (lfr)
              </div>
              
              <!-- LAYER NR. 12 -->
              <div class="tp-caption medium_bg_asbestos lfl"
              data-x="50"
              data-y="450"
              data-speed="800"
              data-start="7500"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                LONG FROM LEFT (lfl)
              </div>
            </li>
            
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
              <!-- MAIN IMAGE -->
              <img src="slider-rs-plugin/exampleimages/bg2.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
              <!-- LAYERS -->
              <!-- LAYER 0 -->
              <div class="tp-caption mediumlarge_light_white_center customin customout start"
              data-x="50"
              data-hoffset="0"
              data-y="50"
              
              data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="1000"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
                SOME FANCY EASING
              </div>
              
              <!-- LAYER NR. 1 -->
              <div class="tp-caption medium_bg_asbestos sfl"
              data-x="50"
              data-y="250"
              data-speed="500"
              data-start="800"
              data-easing="Power1.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Power1.easeOut
              </div>
              
              <!-- LAYER NR. 2 -->
              <div class="tp-caption medium_bg_asbestos sfl"
              data-x="50"
              data-y="300"
              data-speed="500"
              data-start="1200"
              data-easing="Back.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Back.easeOut
              </div>
              
              <!-- LAYER NR. 3 -->
              <div class="tp-caption medium_bg_asbestos skewfromleft"
              data-x="50"
              data-y="350"
              data-speed="800"
              data-start="1900"
              data-easing="Elastic.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Elastic.easeOut
              </div>
              
              <!-- LAYER NR. 4 -->
              <div class="tp-caption medium_bg_asbestos skewfromleft"
              data-x="50"
              data-y="200"
              data-speed="800"
              data-start="2600"
              data-easing="Power3.easeInOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Power3.easeInOut
              </div>
              
              <!-- LAYER NR. 5 -->
              <div class="tp-caption medium_bg_asbestos skewfromleft"
              data-x="50"
              
              data-y="400"
              data-speed="800"
              data-start="3300"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Power4.easeOut
              </div>
              
              <!-- LAYER NR. 6 -->
              <div class="tp-caption medium_bg_asbestos skewfromright"
              data-x="right"
              data-hoffset="-50"
              data-y="200"
              data-speed="800"
              data-start="4000"
              data-easing="Power2.easeInOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Power2.easeInOut
              </div>
              
              
              
              <!-- LAYER NR. 7 -->
              <div class="tp-caption medium_bg_asbestos skewfromright"
              data-x="right"
              data-hoffset="-50"
              data-y="250"
              data-speed="800"
              data-start="4700"
              data-easing="Circ.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Circ.easeOut
              </div>
              
              
              <!-- LAYER NR. 8 -->
              <div class="tp-caption medium_bg_asbestos skewfromright"
              data-x="right"
              data-hoffset="-50"
              data-y="300"
              data-speed="800"
              data-start="5400"
              data-easing="Cube.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Cube.easeOut
              </div>
              
              <!-- LAYER NR. 9 -->
              <div class="tp-caption medium_bg_asbestos skewfromright"
              data-x="right"
              data-hoffset="-50"
              data-y="350"
              data-speed="800"
              data-start="6100"
              data-easing="Bounce.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Bounce.easeOut
              </div>
              
              <!-- LAYER NR. 10 -->
              <div class="tp-caption medium_bg_asbestos skewfromright"
              data-x="right"
              data-hoffset="-50"
              data-y="400"
              data-speed="800"
              data-start="6800"
              data-easing="Linear.easeNone"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Linear.easeNone
              </div>
              
              <!-- LAYER NR. 11 -->
              <div class="tp-caption medium_bg_asbestos skewfromright"
              data-x="right"
              data-hoffset="-50"
              data-y="450"
              data-speed="800"
              data-start="7500"
              data-easing="Expo.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Expo.easeOut
              </div>
              
              <!-- LAYER NR. 12 -->
              <div class="tp-caption medium_bg_asbestos skewfromleft"
              data-x="50"
              data-y="450"
              data-speed="800"
              data-start="7500"
              data-easing="Expo.easeIn"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
                Expo.easeIn
              </div>
            </li>
            
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
              <!-- MAIN IMAGE -->
              <img src="slider-rs-plugin/exampleimages/bg3.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
              <!-- LAYERS -->
              <!-- LAYERS -->
              <div class="tp-caption mediumlarge_light_white_center customin customout start"
              data-x="right"
              data-hoffset="-60"
              data-y="bottom"
              data-voffset="-120"
              
              data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="1000"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
                TRY THE
                <br>
                CAPTION ANIMATION
                <br>
                BUILDER BELOW
              </div>
              <!-- LAYER NR. 5 -->
              <div class="tp-caption medium_bg_asbestos skewfromleft customout"
              data-x="104"
              data-y="154"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="800"
              data-start="800"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="on"
              style="z-index: 6">
                GO AND GIVE A TRY
              </div>
            </li>
            
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
              <!-- MAIN IMAGE -->
              <img src="slider-rs-plugin/exampleimages/bg4.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
              <!-- LAYERS -->
              <!-- LAYER NR. 5 -->
              <div class="tp-caption medium_bg_asbestos skewfromleft customout"
              data-x="104"
              data-y="154"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="800"
              data-start="800"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="on"
              style="z-index: 6">
                CREATE AWESOME ANIMATIONS
              </div>
            </li>
            
            
          </ul>
          <div class="tp-bannertimer">
          </div>
      </div>
      </div>
      <script type="text/javascript">
        
        var revapi;
        
        jQuery(document).ready(function() {
          
          revapi = jQuery('.tp-banner').revolution(
            {
              delay:15000,
              startwidth:1170,
              startheight:500,
              hideThumbs:10,
              fullWidth:"off",
              fullScreen:"on",
              fullScreenOffsetContainer: "#header, #footer"
            }
          );
          
        }
                              );
        //ready
        
      </script>
      
      <!-- END REVOLUTION SLIDER -->
      
      <!-- Content End -->
      
      
  </article>
  
  <!-- END OF SPECTACULUS -->
  
  
  <!-- HEADER -->
  <footer id="footer" style="width:100%;background:#f39c12">
    <section class="container" style="padding-top:20px;padding-bottom:10px;">
      <h2>
        WELCOME TO NEWSGRID, SCROLL DOWN TO LEARN MORE...
      </h2>
    </section>
  </footer>
  
  <!-- END OF HEADER -->
  
  
  
  
  
  
  <!-- HERE COMES ONLY THE DEMO INFORMATION, NO NEED TO CARE ABOUT IT -->
  
  <section class="container">
    <h2>
      What to do for FullScreen?
    </h2>
    <p>
      Make sure that your slider Wrapping Container allows you to go fullwidth and fullheight, and there is no limitation in width / maxwidth.In case your container is Boxed, and you want to force the Slider to go Fullscreen, than simple use the forceFullWidth:"on" parameter !
    </p>
    <p>
      If you dont need the Offset (header and footer) take a look on the simple Fullscreen example here: NOPE
    </p>
    
    
  </section>
  
  
  <!-- THE CONTENT // DEMOS -->
  <div class="demos">


    </div class="divide30"></div>

<!-- DEMO VI. -->
<div class="showbiz-container">
    <div class="halfcontainer">
      <div id="example6" class="showbiz-container">



	<div class="divide20"></div>

	<!--THE PORTFOLIO ENTRIES-->
	<div class="showbiz" data-left="#showbiz_left_6" data-right="#showbiz_right_6">

	  <!-- THE OVERFLOW HOLDER CONTAINER, DONT REMOVE IT !! -->
	  <div class="overflowholder">
	    <!-- LIST OF THE ENTRIES -->
	    <ul>

	      <!-- AN ENTRY HERE , WITH PREDEFINED GREY SKIN-->
	      <li class="sb-grey-skin">

		<!-- THE MEDIAHOLDER CONTAINER -->
		<div class="mediaholder">
		  <!-- THE INNER WRAP FOR MEDIA HOLDER -->
		  <div class="mediaholder_innerwrap">
		    <img alt="" src="showbizpro/exampleimages/entries/shutterstock_76307515.jpg">

		    <!-- THE HOVER CONTAINER AND THE HOVER ICONS -->
		    <div class="hovercover" >
		      <a href="#"><div class="linkicon notalone"><i class="sb-icon-link"></i></div></a>
		      <a class="fancybox" rel="group" href="showbizpro/exampleimages/entries/shutterstock_76307515.jpg"><div class="lupeicon notalone"><i class="sb-icon-search"></i></div></a>
		      </div><!-- END OF HOVER CONTIANER -->

		    </div><!-- END OF MEDIAHOLDER INNER WRAP-->
		  </div><!-- END OF MEDIAHOLDER CONTAINER -->

		<!-- THE VISIBLE DETAILS -->
		<div class="detailholder">
		  <div class="divide15"></div>
		  <h4 class="showbiz-title txt-center"><a href="#">Teaser Item One</a></h4>
		  <div class="divide5"></div>
		  <p class="txt-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
		  </div><!-- END OF VISIBLE DETAILS -->
		</li><!-- END OF ENTRY -->

	      <!-- AN ENTRY HERE -->
	      <li class="sb-grey-skin">
		<div class="mediaholder ">
		  <div class="mediaholder_innerwrap">
		    <a href="#"><img alt="" src="showbizpro/exampleimages/entries/shutterstock_66242737.jpg"></a>
		    <div class="hovercover" data-maxopacity="0.85">
		      <a href="#"><div class="linkicon"><i class="sb-icon-link"></i></div></a>
		      </div>
		    </div>

		  </div>
		<div class="detailholder">
		  <div class="divide15"></div>
		  <h4 class="showbiz-title txt-center"><a href="#">Teaser Item Two</a></h4>
		  <div class="divide5"></div>
		  <p class="txt-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
		  </div>
		</li>

	      <!-- AN ENTRY HERE -->
	      <li class="sb-grey-skin">
		<div class="mediaholder ">
		  <div class="mediaholder_innerwrap">
		    <img alt="" src="showbixpro/exampleimages/entries/shutterstock_47799625.jpg">
		    <div class="hovercover" data-maxopacity="0.85">
		      <a class="fancybox" rel="group" href="showbizpro/exampleimages/entries/shutterstock_47799625.jpg"><div class="lupeicon"><i class="sb-icon-search"></i></div></a>
		      </div>
		    </div>

		  </div>
		<div class="detailholder">
		  <div class="divide15"></div>
		  <h4 class="showbiz-title txt-center"><a href="#">Teaser Item Three</a></h4>
		  <div class="divide5"></div>
		  <p class="txt-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
		  </div>
		</li>

	      <!-- AN ENTRY HERE -->
	      <li class="sb-grey-skin">
		<div class="mediaholder ">
		  <div class="mediaholder_innerwrap">
		    <img alt="" src="images/entries/Fotolia_2923012_S.jpg">
		    <div class="hovercover" data-maxopacity="0.85">
		      <a href="#"><div class="linkicon notalone"><i class="sb-icon-link"></i></div></a>
		      <a class="fancybox" rel="group" href="images/entries/Fotolia_2923012_S.jpg"><div class="lupeicon notalone"><i class="sb-icon-search"></i></div></a>
		      </div>
		    </div>

		  </div>
		<div class="detailholder">
		  <div class="divide15"></div>
		  <h4 class="showbiz-title txt-center"><a href="#">Teaser Item Four</a></h4>
		  <div class="divide5"></div>
		  <p class="txt-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
		  </div>
		</li>

	      <!-- AN ENTRY HERE -->
	      <li class="sb-grey-skin">
		<div class="mediaholder ">
		  <div class="mediaholder_innerwrap">
		    <img alt="" src="images/entries/shutterstock_76307515.jpg">
		    <div class="hovercover" data-maxopacity="0.85">
		      <a href="#"><div class="linkicon notalone"><i class="sb-icon-link"></i></div></a>
		      <a class="fancybox" rel="group" href="images/entries/shutterstock_76307515.jpg"><div class="lupeicon notalone"><i class="sb-icon-search"></i></div></a>
		      </div>
		    </div>
		  </div>
		<div class="detailholder">
		  <div class="divide15"></div>
		  <h4 class="showbiz-title txt-center"><a href="#">Teaser Item Five</a></h4>
		  <div class="divide5"></div>
		  <p class="txt-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
		  </div>
		</li>

	      <!-- AN ENTRY HERE -->
	      <li class="sb-grey-skin">
		<div class="mediaholder ">
		  <div class="mediaholder_innerwrap">
		    <img alt="" src="images/entries/shutterstock_66242737.jpg">
		    <div class="hovercover" data-maxopacity="0.85">
		      <a href="#"><div class="linkicon notalone"><i class="sb-icon-link"></i></div></a>
		      <a class="fancybox" rel="group" href="images/entries/shutterstock_66242737.jpg"><div class="lupeicon notalone"><i class="sb-icon-search"></i></div></a>
		      </div>
		    </div>

		  </div>
		<div class="detailholder">
		  <div class="divide15"></div>
		  <h4 class="showbiz-title txt-center"><a href="#">Teaser Item Six</a></h4>
		  <div class="divide5"></div>
		  <p class="txt-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
		  </div>
		</li>

	      <!-- AN ENTRY HERE -->
	      <li class="sb-grey-skin">
		<div class="mediaholder ">
		  <div class="mediaholder_innerwrap">
		    <img alt="" src="images/entries/shutterstock_47799625.jpg">
		    <div class="hovercover" data-maxopacity="0.85">
		      <a href="#"><div class="linkicon notalone"><i class="sb-icon-link"></i></div></a>
		      <a class="fancybox" rel="group" href="images/entries/shutterstock_47799625.jpg"><div class="lupeicon notalone"><i class="sb-icon-search"></i></div></a>
		      </div>
		    </div>

		  </div>
		<div class="detailholder">
		  <div class="divide15"></div>
		  <h4 class="showbiz-title txt-center"><a href="#">Teaser Item Seven</a></h4>
		  <div class="divide5"></div>
		  <p class="txt-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
		  </div>
		</li>

	      <!-- AN ENTRY HERE -->
	      <li class="sb-grey-skin">
		<div class="mediaholder ">
		  <div class="mediaholder_innerwrap">
		    <img alt="" src="images/entries/Fotolia_2923012_S.jpg">
		    <div class="hovercover" data-maxopacity="0.85">
		      <a href="#"><div class="linkicon notalone"><i class="sb-icon-link"></i></div></a>
		      <a class="fancybox" rel="group" href="images/entries/Fotolia_2923012_S.jpg"><div class="lupeicon notalone"><i class="sb-icon-search"></i></div></a>
		      </div>
		    </div>

		  </div>
		<div class="detailholder">
		  <div class="divide15"></div>
		  <h4 class="showbiz-title txt-center"><a href="#">Teaser Item Eight</a></h4>
		  <div class="divide5"></div>
		  <p class="txt-center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
		  </div>
		</li>




	      </ul>
	    <div class="sbclear"></div>
	    </div> <!-- END OF OVERFLOWHOLDER -->
	  <div class="sbclear"></div>
	  </div>
	</div><!-- END OF DEMO VI. -->
      </div>
    <div class="halfcontainer" style="padding-left:20px; padding-top:20px;">
      <p class="small">Hellenico clamabat vidit <a id="showbiz_left_6" href="#">LEFT SCROLL</a> Dionysiadi Apollonius <a id="showbiz_right_6" href="#">RIGHT SCROLL</a> eius in modo genito in. Iuvenis naves aguntur quoniam ipsa hospes! Alius certe itaque die non solutionem innocentem vis lacrimis ut a, percussus ait in modo invenit ubi ait est amet constanter approximavit te! Felix pro quae ad nomine Piscatore mihi. Equidem deceptum in deinde vero non potentiae, toto determinata se est se sed. Scelus gentibus innoxius intuere de. Stans dicenda tuam Felix pro aperuit ita factum ait. Christe in modo ad per dicis, x domum sum concumbens vero diam nostra praedicabilium subsannio. Lavabat carissime haec in deinde cupis hominem! Ratio indue villicus potest in rei exultant deo adoptavit cum. Epheso Tyrum in lucem exempli paupers coniunx minus, chaldaeorum.
	Ideoque montes se ad suis Tyrium coniugem eo auditis positam omnino doming igitur eum istam provoces est Apollonius ut libertatem accipies. Antiocho mittat est se ad per, ambo una Christi in rei civibus! Plenus lacrimas in deinde cupis ei sed quod non coepit. Singulas cotidie enim me testatur in, impietas ideo omnibus mihi esse more fuerit mitti.
	</p>
      </div>
    <div class="sb-clear"></div>
     </div>
</div> <!-- END OF DEMOS -->


<!--
    ##############################
     - ACTIVATE THE BANNER HERE -
     ##############################
     -->


  <!-- THE SHOWBIZ JS FILES  -->
  <script type="text/javascript" src="showbizpro/js/jquery.themepunch.showbizpro.min.js"></script>


  <script type="text/javascript">

    jQuery(document).ready(function() {

    jQuery('#example6').showbizpro({
    dragAndScroll:"off",
    visibleElementsArray:[2,2,2,1],
    carousel:"on",
    entrySizeOffset:0,
    allEntryAtOnce:"off",
    rewindFromEnd:"off",
    autoPlay:"off",
    delay:2000,
    speed:250
    });

    // THE FANCYBOX PLUGIN INITALISATION
    jQuery(".fancybox").fancybox();





    });

    </script>
  
  
<form action="/auth/browserid" method="post" style="display:none;">
        <input type="text" name="assertion"/>
</form>
<script>
  $("#browserid").click(function(){
    navigator.id.get(function(assertion) {
      if (assertion) {
        $("input").val(assertion);
        $("form").submit();
      } else {
        location.reload();
      }
    });
  });
</script>

<!-- ga -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43112444-1', 'thenewsgrid.com');
  ga('send', 'pageview');

</script>
  
</body>
