<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Persona Example</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script src="https://login.persona.org/include.js" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="David Anderton 2013">

    <!-- Bootstrap core CSS -->
<!-- Latest compiled and minified CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- attempt to get bg working -->
<style type="text/css">
body { background: url(img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* padding added to support fixed navbar */
  padding-top: 70px;
}

</style>
  <!-- lets get ac working -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- end jQuery-->


    
    <!-- Google font for logo -->
     <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
      <style>
	   .navbar-brand {font-family: 'Indie Flower', cursive; font-size:24px;}
	      </style>
    <!-- end google font for logo -->
</head>

	</head>
<body>
<% if (!user) { %>
<p>
                        <a href="/">Home</a> | 
                        <a href="/account">Account</a> | 
                        <a href="/login">Login</a>
                        </p>

        <h2>Welcome! Please log in.</h2>
<% } else { %>
<p>
                        <a href="/">Home</a> | 
                        <a href="/account">Account</a> | 
                        <a href="/logout">Log Out</a>
                        </p>

        <h2>Hello, <%= user.email %>.</-h2>
<% } %>			
<form action="/auth/browserid" method="post" style="display:none;">
	<input type="text" name="assertion"/>
</form>


      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
	  <img height="140px" width="140px" src="http://people.mozilla.org/~smartell/persona/assets/persona-logo.png" id="browserid"/>
          <h2>Persona</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img height="140px" width="140px" src="https://abs.twimg.com/a/1379631158/images/resources/twitter-bird-white-on-blue.png">
          <h2>Twitter</h2> 
	</div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img height="140px" width="140px" src="/img/FB-f-Logo__blue_512.png">
          <h2>Facebook</h2>
	</div><!-- /.col-lg-4 -->
      </div><!-- /.row -->





<script>
  $("#browserid").click(function(){
    navigator.id.get(function(assertion) {
      if (assertion) {
        $("input").val(assertion);
        $("form").submit();
      } else {
        location.reload();
      }
    });
  });
</script>

</body>
</html>
