<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Stories in the database</h2>
      <table class="table table-striped">
        <thead>
	  <th>Thumbnail</th>
          <th>Title</th>
          <th>Published Ref</th>
          <th>Created at</th>
        </thead>
        <tbody>
          <% for(var i = 0; i < orders.length; i++) {%>
             <tr>
	       <td><img src="<%= orders[i].thumbnail %>" /></td>
               <td><%= orders[i].title %></td>
               <td><%= orders[i].published %></td>
               <td><%= orders[i].createdAt %></td>
             </tr>
             <% } %>
      </table>
      <!-- now redundant propose to delete
      <a href="/refresh_orders">Refresh orders from coinbase</a>
      -->
    </div>
  </body>
</html>
